{% extends "pages/base.jinja" %}

{% block title %} 
    Flask Demo - Test
{% endblock title %}

{% block content %}
    <section>
        <h2>About me</h2>

        <p>This article is about me</p>
    </section>
{% endblock  %}