{% extends "pages/base.jinja" %}

{% block title %} 
    Flask Demo
{% endblock title %}

{% block content %}
    <section id="hero">
        <h1>Welcome to FLASK DEMO</h1>
    </section>
{% endblock  %}