{% extends "pages/base.jinja" %}

{% block title %} 
    Flask Demo - Test
{% endblock title %}

{% block content %}
    <section>
        <h2>Testing the flask and Jinja</h2>

        <p>This is used for testing the flask demo</p>
    </section>
{% endblock  %}